pyodbc==4.0.39
requests==2.31.0
ccxt==4.1.13 
pywin32==306
pandas==2.1.1
numpy==1.26.0
matplotlib==3.8.0
textblob==0.17.1
newsapi-python==0.2.7
praw==7.7.1
tweepy==4.14.0
cryptocompare==0.7.6
scikit-learn==1.3.1